<!DOCTYPE html>
<html>

<head>
    <title>My Receipts</title>
</head>

<body>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% endif %}
    </main>
</body>

</html>
